@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
.a {
  display: inline-block;
  text-decoration: none;
}
.ul {
  list-style: none;
}
.container {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
.content {
  display: flex;
}
.active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.display {
  display: flex!important;
}
.active2 {
  background-color: #424242;
}
.active3 {
  color: #ff6700;
}
header {
  height: 40px;
  background-color: #333;
  background-image: url('../img/');
}
header .container {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
header .container .header-top .h_content {
  display: flex;
  justify-content: space-between;
}
header .container .header-top .h_content .h_left {
  list-style: none;
  display: flex;
  align-items: center;
  height: 40px;
}
header .container .header-top .h_content .h_left a {
  font-size: 12px;
  color: #b0b0b0;
  position: relative;
  text-decoration: none;
}
header .container .header-top .h_content .h_left a:hover {
  color: #fff;
}
header .container .header-top .h_content .h_left a .jiao {
  position: absolute;
  color: #fff;
  left: 30%;
  top: 85%;
  font-size: 18px;
  display: none;
}
header .container .header-top .h_content .h_left a .erji1 {
  display: block;
  background: #fff;
  width: 124px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -50%;
  top: 28px;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-left: -15px;
  transition: all 0.2s;
  box-shadow: 0 1px 5px #aaa;
  z-index: 1;
}
header .container .header-top .h_content .h_left a .erji1 > img {
  width: 90px;
  height: 90px;
  margin: 14px 14px 10px;
}
header .container .header-top .h_content .h_left .app:hover .erji1 {
  height: 150px ;
}
header .container .header-top .h_content .h_left .app:hover .jiao {
  display: block;
}
header .container .header-top .h_content .h_left span {
  font-size: 12px;
  margin: 0 6.5px;
  color: #424242;
}
header .container .header-top .h_content .h_right {
  list-style: none;
  display: flex;
  align-items: center;
}
header .container .header-top .h_content .h_right a {
  font-size: 12px;
  text-decoration: none;
  color: #b0b0b0;
}
header .container .header-top .h_content .h_right a:hover {
  color: #fff;
}
header .container .header-top .h_content .h_right span {
  font-size: 12px;
  margin: 0 3.6px;
  color: #424242;
}
header .container .header-top .h_content .h_right .message {
  width: 68px;
  text-align: center;
}
header .container .header-top .h_content .h_right .shop {
  width: 120px;
  text-align: center;
  line-height: 40px;
  position: relative;
  color: #b0b0b0;
}
header .container .header-top .h_content .h_right .shop:hover {
  color: #ff6700;
  background-color: #fff;
}
header .container .header-top .h_content .h_right .shop:hover .shopbox {
  height: 80px;
  padding-top: 20px ;
  text-align: center;
  line-height: 60px;
  color: #424242;
}
header .container .header-top .h_content .h_right .shop .car {
  font-size: 18px;
}
header .container .header-top .h_content .h_right .shop span {
  color: #b0b0b0;
}
header .container .header-top .h_content .h_right .shop .shopbox {
  width: 316px;
  height: 0px;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  transition: all 0.2s;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
header .header-bottom {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .header-bottom > .container {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
header .header-bottom > .container .header-top .h_content {
  display: flex;
  justify-content: space-between;
}
header .header-bottom > .container .header-top .h_content .h_left {
  list-style: none;
  display: flex;
  align-items: center;
  height: 40px;
}
header .header-bottom > .container .header-top .h_content .h_left a {
  font-size: 12px;
  color: #b0b0b0;
  position: relative;
  text-decoration: none;
}
header .header-bottom > .container .header-top .h_content .h_left a:hover {
  color: #fff;
}
header .header-bottom > .container .header-top .h_content .h_left a .jiao {
  position: absolute;
  color: #fff;
  left: 30%;
  top: 85%;
  font-size: 18px;
  display: none;
}
header .header-bottom > .container .header-top .h_content .h_left a .erji1 {
  display: block;
  background: #fff;
  width: 124px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -50%;
  top: 28px;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-left: -15px;
  transition: all 0.2s;
  box-shadow: 0 1px 5px #aaa;
  z-index: 1;
}
header .header-bottom > .container .header-top .h_content .h_left a .erji1 > img {
  width: 90px;
  height: 90px;
  margin: 14px 14px 10px;
}
header .header-bottom > .container .header-top .h_content .h_left .app:hover .erji1 {
  height: 150px ;
}
header .header-bottom > .container .header-top .h_content .h_left .app:hover .jiao {
  display: block;
}
header .header-bottom > .container .header-top .h_content .h_left span {
  font-size: 12px;
  margin: 0 6.5px;
  color: #424242;
}
header .header-bottom > .container .header-top .h_content .h_right {
  list-style: none;
  display: flex;
  align-items: center;
}
header .header-bottom > .container .header-top .h_content .h_right a {
  font-size: 12px;
  text-decoration: none;
  color: #b0b0b0;
}
header .header-bottom > .container .header-top .h_content .h_right a:hover {
  color: #fff;
}
header .header-bottom > .container .header-top .h_content .h_right span {
  font-size: 12px;
  margin: 0 3.6px;
  color: #424242;
}
header .header-bottom > .container .header-top .h_content .h_right .message {
  width: 68px;
  text-align: center;
}
header .header-bottom > .container .header-top .h_content .h_right .shop {
  width: 120px;
  text-align: center;
  line-height: 40px;
  position: relative;
  color: #b0b0b0;
}
header .header-bottom > .container .header-top .h_content .h_right .shop:hover {
  color: #ff6700;
  background-color: #fff;
}
header .header-bottom > .container .header-top .h_content .h_right .shop:hover .shopbox {
  height: 80px;
  padding-top: 20px ;
  text-align: center;
  line-height: 60px;
  color: #424242;
}
header .header-bottom > .container .header-top .h_content .h_right .shop .car {
  font-size: 18px;
}
header .header-bottom > .container .header-top .h_content .h_right .shop span {
  color: #b0b0b0;
}
header .header-bottom > .container .header-top .h_content .h_right .shop .shopbox {
  width: 316px;
  height: 0px;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  transition: all 0.2s;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
header .header-bottom > .container > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-bottom > .container > .content > .logo {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url('../img/logo.png');
  background-size: 100%;
}
header .header-bottom > .container > .content .tabs > .nav {
  list-style: none;
  display: flex;
  line-height: 80px;
  box-sizing: border-box;
  padding: 5px 5px 0 5px;
}
header .header-bottom > .container > .content .tabs > .nav > li {
  height: 80px;
  padding: 0 10px 0;
  font-size: 16px;
}
header .header-bottom > .container > .content .tabs > .nav > li > a {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  height: 80px;
  line-height: 80px;
  color: #333;
}
header .header-bottom > .container > .content .tabs > .nav > li > a:hover {
  color: #ff6700;
}
header .header-bottom > .container > .content .tabs .tabs-content {
  width: 2080px;
  height: 230px;
  position: absolute;
  margin-left: -600px;
  display: none;
  z-index: 3;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 {
  list-style: none;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  display: none;
  justify-content: center;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li {
  width: 180px;
  height: 166px;
  padding: 35px 12px 12px;
  position: relative;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li ::before {
  position: absolute;
  left: 0;
  top: 35px;
  width: 1px;
  height: 100px;
  content: "";
  background-color: #e0e0e0;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li > a > .figure {
  width: 160px;
  height: 110px;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li > a > .figure > img {
  width: 160px;
  height: 110px;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li > a > .title {
  color: #333;
  font-size: 12px;
  line-height: 12px;
  margin: 20px 10px 10px;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > li > a > .price {
  font-size: 12px;
  color: #ff6700;
  line-height: 12px;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2 > .first ::before {
  content: none;
}
header .header-bottom > .container > .content .tabs .tabs-content .erji2-5,
header .header-bottom > .container > .content .tabs .tabs-content .erji2-6 {
  justify-content: left;
  padding-left: 20%;
}
header .header-bottom > .container > .content > form {
  width: 296px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}
header .header-bottom > .container > .content > form > .search {
  width: 223px;
  height: 48px;
  padding: 0 10px;
  margin-left: 6px;
  border: 1px solid #e0e0e0;
  position: absolute;
  right: 51px;
  outline: none;
}
header .header-bottom > .container > .content > form > .submit {
  width: 52px;
  height: 50px;
  position: absolute;
  right: 0;
  border: 1px solid #e0e0e0;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}
header .header-bottom > .container > .content > form > .submit:hover {
  background: #ff6700;
  color: #fff;
}
header .header-bottom > .container > .content > form > .keyword-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 243px;
  border: 1px solid #ff6700;
  border-top: 0;
  background: #fff;
  font-size: 12px;
  color: #333;
  z-index: 2;
  display: none;
}
header .header-bottom > .container > .content > form > .keyword-list > .res-list {
  list-style: none;
}
header .header-bottom > .container > .content > form > .keyword-list > .res-list > li {
  line-height: 30px;
  padding-left: 10px;
}
header .header-bottom > .container > .content > form > .keyword-list > .res-list > li:hover {
  background-color: #fafafa;
}
.banner {
  margin-top: 100px ;
  position: relative;
}
.banner > .container {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
.banner > .container > .b_sup {
  display: flex;
}
.banner > .container > .b_sup > .site-category {
  display: inline-block;
  background: rgba(105, 101, 101, 0.6);
  z-index: 2;
}
.banner > .container > .b_sup > .site-category > .category-list {
  list-style: none;
  width: 234px;
  height: 420px;
  padding: 20px 0px;
  position: relative;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item {
  width: 234px;
  height: 42px;
  line-height: 42px;
  padding-left: 30px ;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item:hover .children {
  display: block;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .ic-right {
  float: right;
  line-height: 42px;
  margin-right: 15px;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item:hover {
  background-color: #ff6700;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children {
  position: absolute;
  top: 0;
  left: 234px;
  width: 992px;
  height: 458px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  border: 1px solid #e0e0e0;
  display: none;
  z-index: 2;
  background-color: #fff;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children > ul {
  list-style: none;
  width: 248px;
  height: 462px;
  float: left;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children > ul > li {
  width: 265px;
  height: 76px;
  box-sizing: border-box;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children > ul > li > a {
  display: inline-block;
  text-decoration: none;
  display: block;
  padding: 18px 20px;
  color: #333;
  transition: 0.2s;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children > ul > li > a > img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-right: 12px;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children > ul > li > a > .text {
  width: 172px;
  line-height: 40px;
  font-size: 14px;
}
.banner > .container > .b_sup > .site-category > .category-list > .category-item > .children > ul > li > a:hover {
  color: #ff6700;
}
.banner > .container > .b_sup > .slide {
  width: 1226px;
  height: 460px;
  overflow: hidden;
  z-index: 0;
  position: absolute;
}
.banner > .container > .b_sup > .slide > div {
  display: flex;
  position: absolute;
  overflow: hidden;
}
.banner > .container > .b_sup > .slide > div > img {
  width: 1226px;
  height: 460px;
}
.banner > .container > .b_sup > .slide > .prev {
  position: absolute;
  left: 19%;
  top: 50%;
  font-size: 2em;
}
.banner > .container > .b_sup > .slide > .next {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 2em;
}
.banner > .container > .b_sub {
  height: 170px;
  display: flex;
  margin-top: 14px;
}
.banner > .container > .b_sub > .b_sub_left {
  width: 234px;
  height: 170px;
  background-color: #5f5750;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list > li {
  width: 70px;
  height: 82px;
  padding: 0 3px;
  text-align: center;
  position: relative;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list > li > a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  padding-top: 18px ;
  width: 100%;
  opacity: 0.7;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list > li > a > img {
  width: 24px;
  height: 24px;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list > li > a:hover {
  opacity: 1;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list > li ::after {
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
  position: absolute;
  content: "";
  background: #665e57;
}
.banner > .container > .b_sub > .b_sub_left > .sub_list > li ::before {
  top: 1px;
  left: 6px;
  width: 64px;
  height: 1px;
  position: absolute;
  content: "";
  background: #665e57;
}
.banner > .container > .b_sub .b_sub_right {
  width: 978px;
  height: 170px;
  margin-left: 14px;
}
.banner > .container > .b_sub .b_sub_right > ul {
  list-style: none;
  display: flex;
}
.banner > .container > .b_sub .b_sub_right > ul > li {
  margin-left: 15px;
}
.banner > .container > .b_sub .b_sub_right > ul > li > a {
  display: inline-block;
  text-decoration: none;
  transition: 0.2s linear;
}
.banner > .container > .b_sub .b_sub_right > ul > li > a > img {
  width: 316px;
  height: 170px;
}
.banner > .container > .b_sub .b_sub_right > ul > li > a:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.banner > .container > .b_sub .b_sub_right > ul :nth-of-type(1) {
  margin-left: 0;
}
main {
  margin-top: 30px;
  background-color: #f5f5f5;
}
main .container {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
main .container .main_hd {
  padding: 22px 0;
}
main .container .main_hd > a > img {
  width: 100%;
  height: 120px;
}
main .container .main_box1 {
  height: 686px;
}
main .container .main_box1 .box1-hd {
  display: flex;
  justify-content: space-between;
}
main .container .main_box1 .box1-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main .container .main_box1 .box1-hd > .more {
  font-size: 28px;
  line-height: 58px;
}
main .container .main_box1 .box1-hd > .more > a {
  display: inline-block;
  text-decoration: none;
  color: #424242;
  font-size: 16px;
  transition: all 0.4s;
}
main .container .main_box1 .box1-hd > .more > a > .icon {
  vertical-align: -12%;
  font-size: 28px;
}
main .container .main_box1 .box1-hd > .more > a > .icon > .color {
  fill: #b0b0b0;
}
main .container .main_box1 .box1-hd > .more > a:hover {
  color: #ff6700;
}
main .container .main_box1 .box1-hd > .more > a:hover .color {
  fill: #ff6700;
}
main .container .main_box1 .box1-bd {
  height: 628px;
  display: flex;
}
main .container .main_box1 .box1-bd > .box1-bd-left > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
  height: 614px;
}
main .container .main_box1 .box1-bd > .box1-bd-left > a > img {
  width: 234px;
  height: 614px;
}
main .container .main_box1 .box1-bd > .box1-bd-left > a:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
main .container .main_box1 .box1-bd > .box1-bd-right {
  display: flex;
  flex-wrap: wrap;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li {
  list-style: none;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  text-align: center;
  width: 234px;
  height: 300px;
  transition: all 0.2s linear;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 0;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a > .figure {
  margin-bottom: 18px;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a > .figure > img {
  width: 160px;
  height: 160px;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a > .title {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a > .desc {
  font-size: 12px;
  color: #b0b0b0;
  margin: 5px 10px 10px 10px;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a > p:nth-of-type(3) {
  font-size: 14px;
  color: #ff6700;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li > a > p:nth-of-type(3) > .price {
  font-size: 14px;
  color: #ff6700;
}
main .container .main_box1 .box1-bd > .box1-bd-right > li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
main .container .main_box {
  height: 686px;
  margin-top: 10px;
}
main .container .main_box .box-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .main_box .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main .container .main_box .box-hd > .tabs-list {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 58px;
  height: 58px;
  display: flex;
  align-items: center;
}
main .container .main_box .box-hd > .tabs-list > li {
  height: 23px;
  line-height: 23px;
  margin-left: 30px;
}
main .container .main_box .box-bd {
  height: 628px;
  display: flex;
  position: relative;
}
main .container .main_box .box-bd > .box-bd-left > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
  height: 614px;
}
main .container .main_box .box-bd > .box-bd-left > a > img {
  width: 234px;
  height: 614px;
}
main .container .main_box .box-bd > .box-bd-left > a:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
main .container .main_box .box-bd .right-children {
  width: 992px;
}
main .container .main_box .box-bd .right-children > .box-bd-right {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  display: none;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li {
  list-style: none;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  text-align: center;
  width: 234px;
  height: 300px;
  transition: all 0.2s linear;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 0;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a > .figure {
  margin-bottom: 18px;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a > .figure > img {
  width: 160px;
  height: 160px;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a > .title {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a > .desc {
  width: 214px;
  font-size: 12px;
  color: #b0b0b0;
  margin: 5px 10px 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a > .price {
  font-size: 14px;
  color: #ff6700;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li > a > .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
main .container .main_box .box-bd .right-children > .box-bd-right > li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl {
  list-style: none;
  height: 143px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  width: 234px;
  transition: all 0.2s linear;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .figure {
  margin-left: 20px ;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .figure > img {
  width: 80px;
  height: 80px;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .jt {
  margin: 0 5px 0 30px;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .jt > path {
  fill: #ff6700;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .text {
  text-align: left;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .text > .title {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .text > .price {
  margin-top: 10px;
  font-size: 14px;
  color: #ff6700;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .text > .small {
  font-size: 12px;
  color: #757575;
  margin-top: 5px;
}
main .container .main_box .box-bd .right-children > .box-bd-right .two > .sl > a > .text > .big {
  color: #333;
  font-size: 18px;
}
main .container .main_box3 > .box-bd > .box-bd-left {
  width: 234px;
}
main .container .main_box3 > .box-bd > .box-bd-left > a {
  height: 300px;
}
main .container .main_box3 > .box-bd > .box-bd-left > a > img {
  width: 234px;
  height: 300px;
}
main .container .main_box5 .box-hd {
  display: flex;
  justify-content: space-between;
}
main .container .main_box5 .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main .container .main_box5 .box-hd > .more {
  font-size: 28px;
  line-height: 58px;
}
main .container .main_box5 .box-hd > .more > a {
  display: inline-block;
  text-decoration: none;
  color: #424242;
  font-size: 16px;
  transition: all 0.4s;
}
main .container .main_box5 .box-hd > .more > a > .icon {
  vertical-align: -12%;
  font-size: 28px;
}
main .container .main_box5 .box-hd > .more > a > .icon > .color {
  fill: #b0b0b0;
}
main .container .main_box5 .box-hd > .more > a:hover {
  color: #ff6700;
}
main .container .main_box5 .box-hd > .more > a:hover .color {
  fill: #ff6700;
}
main .container .main_box5 > .box-bd {
  height: 299px;
}
main .container .main_box5 > .box-bd > .vidio-box {
  list-style: none;
  display: flex;
}
main .container .main_box5 > .box-bd > .vidio-box > li {
  width: 296px;
  height: 285px;
  margin: 0 0 14px 14px;
  text-align: center;
  transition: all 0.2s linear;
  background-color: #fff;
}
main .container .main_box5 > .box-bd > .vidio-box > li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
main .container .main_box5 > .box-bd > .vidio-box > li > a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
main .container .main_box5 > .box-bd > .vidio-box > li > a > .figure {
  margin-bottom: 28px;
  position: relative;
}
main .container .main_box5 > .box-bd > .vidio-box > li > a > .figure > img {
  width: 296px;
  height: 180px;
}
main .container .main_box5 > .box-bd > .vidio-box > li > a > .figure > .play {
  position: absolute;
  left: 20px;
  bottom: 10px;
}
main .container .main_box5 > .box-bd > .vidio-box > li > a > .figure:hover .play > path {
  fill: #ff6700;
}
main .container .main_box5 > .box-bd > .vidio-box > li > a > p:nth-of-type(1) {
  color: #333;
  font-size: 14px;
  margin-bottom: 6px;
}
main .container .main_box5 > .box-bd > .vidio-box > li > a > p:nth-of-type(2) {
  color: #b0b0b0;
  font-size: 12px;
}
main .container .main_box5 > .box-bd > .vidio-box > li:nth-of-type(1) {
  margin-left: 0;
}
footer {
  height: 332.5px;
}
footer > .container > .footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
footer > .container > .footer-service > .list-service {
  list-style: none;
  display: flex;
}
footer > .container > .footer-service > .list-service > li {
  width: 19.8%;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  border-left: 1px solid #e0e0e0;
}
footer > .container > .footer-service > .list-service > li > a {
  display: inline-block;
  text-decoration: none;
  color: #616161;
  transition: color 0.2s;
}
footer > .container > .footer-service > .list-service > li > a > .service {
  vertical-align: bottom;
}
footer > .container > .footer-service > .list-service > li > a > .service > path {
  fill: #616161;
}
footer > .container > .footer-service > .list-service > li > a:hover {
  color: #ff6700;
}
footer > .container > .footer-service > .list-service > li > a:hover .service > path {
  fill: #ff6700;
}
footer > .container > .footer-service > .list-service > li:nth-of-type(1) {
  border-left: 0;
}
footer > .container .footer-links {
  display: flex;
  margin: 40px 0;
}
footer > .container .footer-links > .col-links {
  width: 160px;
}
footer > .container .footer-links > .col-links > dt {
  font-size: 14px;
  margin-bottom: 26px;
  color: #424242;
}
footer > .container .footer-links > .col-links > dd {
  margin-top: 10px ;
}
footer > .container .footer-links > .col-links > dd > a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  color: #757575;
}
footer > .container .footer-links > .col-links > dd > a:hover {
  color: #ff6700;
}
footer > .container .footer-links > .col-contact {
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
footer > .container .footer-links > .col-contact > p {
  margin-bottom: 5px;
}
footer > .container .footer-links > .col-contact > p:nth-child(1) {
  font-size: 22px;
  color: #ff6700;
}
footer > .container .footer-links > .col-contact > p:nth-child(2) {
  font-size: 12px;
  color: #616161;
}
footer > .container .footer-links > .col-contact > a {
  display: inline-block;
  text-decoration: none;
  color: #ff6700;
  border: 1px solid #ff6700;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  transition: all 0.4s;
}
footer > .container .footer-links > .col-contact > a > .contact-message {
  vertical-align: middle;
}
footer > .container .footer-links > .col-contact > a:hover {
  background-color: #ff6700;
  color: #fff;
}
footer > .container .footer-links > .col-contact > a:hover > .contact-message > path {
  fill: #fff !important;
}
footer > .container .footer-links > .col-contact > .follow {
  margin-top: 10px;
  font-size: 12px;
  color: #616161;
  height: 24px;
  position: relative;
}
footer > .container .footer-links > .col-contact > .follow > a {
  display: inline-block;
  text-decoration: none;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 6px;
  background-size: 24px;
}
footer > .container .footer-links > .col-contact > .follow > a:nth-of-type(1) {
  background-image: url('../img/wb.png');
}
footer > .container .footer-links > .col-contact > .follow > a:nth-of-type(1):hover {
  background-image: url('../img/wbhover.png');
}
footer > .container .footer-links > .col-contact > .follow > a:nth-of-type(2) {
  background-image: url('../img/wx.png');
}
footer > .container .footer-links > .col-contact > .follow > a:nth-of-type(2):hover {
  background-image: url('../img/wxhover.png');
}
footer > .container .footer-links > .col-contact > .follow > a:nth-of-type(2):hover > img {
  display: block;
}
footer > .container .footer-links > .col-contact > .follow > a:nth-of-type(2) > img {
  width: 126px;
  height: 126px;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 100px;
  display: none;
}
footer .footer-bottom {
  background-color: #fafafa;
  height: 220px;
  padding: 30px 0;
  position: relative;
}
footer .footer-bottom > .container > .logo {
  width: 56px;
  height: 56px;
  margin-right: 20px;
  background: url(../img/logo-mi2.png) no-repeat;
  background-size: 56px;
  position: absolute;
}
footer .footer-bottom > .container > .info-text {
  padding-left: 77px;
}
footer .footer-bottom > .container > .info-text > .sites {
  font-size: 12px;
}
footer .footer-bottom > .container > .info-text > .sites > a {
  text-decoration: none;
  color: #757575;
}
footer .footer-bottom > .container > .info-text > .sites > a:hover {
  color: #ff6700;
}
footer .footer-bottom > .container > .info-text > p:nth-of-type(3) {
  font-size: 12px;
  color: #b0b0b0;
  line-height: 18px ;
}
footer .footer-bottom > .container > .info-text > p:nth-of-type(3) > a {
  text-decoration: none;
  color: #b0b0b0;
}
footer .footer-bottom > .container > .info-text > p:nth-of-type(3) > a:hover {
  color: #ff6700;
}
footer .footer-bottom > .container > .info-link {
  margin-left: 77px;
}
footer .footer-bottom > .container > .info-link > a {
  display: inline-block;
  text-decoration: none;
}
footer .footer-bottom > .container > .info-link > a > img {
  height: 28px;
}
footer .footer-bottom > .container > .slogan {
  height: 19px;
  width: 100%;
  margin: 30px auto 0;
  background: url('../img/slogan2020.png') no-repeat center;
}
body {
  position: relative;
}
body > .home-tool {
  width: 84px;
  min-height: 455px;
  position: fixed;
  right: 0;
  bottom: 10%;
  box-sizing: border-box;
  z-index: 3;
}
body > .home-tool > .f {
  text-decoration: none;
  box-sizing: border-box;
  width: 84px;
  height: 92px;
  display: inline-block;
  padding-top: 18px;
  text-align: center;
  border: 1px solid #f5f5f5;
  background-color: #fff;
}
body > .home-tool > .f > .f-figure {
  position: relative;
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-bottom: 8px;
  margin-left: 33%;
  transition: opacity 0.3s;
}
body > .home-tool > .f > .f-figure > img {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
}
body > .home-tool > .f > .f-figure > img:nth-of-type(2) {
  opacity: 0;
}
body > .home-tool > .f > .f-text {
  font-size: 14px;
  color: #757575;
  transition: 0.3s;
}
body > .home-tool > .f > .f-qr {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 120%;
  width: 130px;
  height: 192px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 14px;
  border: 1px solid #f5f5f5;
  transition: opacity 0.3s;
}
body > .home-tool > .f > .f-qr > img {
  width: 100px;
  height: 100px;
  margin: 6px 0;
}
body > .home-tool > .f > .f-qr > span {
  color: #757575;
  font-size: 14px;
  display: block;
  width: 82px;
  margin: 14px auto 0;
  text-align: center;
}
body > .home-tool > .f > .f-qr ::after {
  content: "";
  position: absolute;
  top: 21%;
  right: -20px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
  z-index: 2;
}
body > .home-tool > .f:hover .f-figure > img:nth-of-type(2) {
  opacity: 1;
}
body > .home-tool > .f:hover > .f-text {
  color: #ff6700;
}
body > .home-tool > .f:nth-child(1):hover > .f-qr {
  opacity: 1;
  visibility: visible;
}
body > .home-tool > .f-6 {
  margin-top: 14px;
}
